
*{
    margin: 0;
    padding: 0;
}
.container2 {
    width: 50%;
    height: fit-content ;
   background-color: rgba(45, 66, 83, 0.46);
}
 
 table {
    border: none;
    height: 100%;
    width: 100%;
    box-shadow: -10px -15px 40px rgba(23, 23, 23, 0.54);
 }

 table thead {
    height: 50px;  
    background-color: rgb(19, 53, 81);
 }
 tbody{
   background-color: rgba(39, 50, 56, 0.56);
    
 }

 table th {
    border: 1px solid rgb(123, 133, 140);
    color: rgb(101, 137, 169);
    font-weight: 700;
    font-size: x-large;
    background-color: rgba(49, 71, 75, 0.59);
    
 }
 

 table td {
    border: 1px solid rgb(123, 133, 140);
    text-align: center; 
    width: 33%;
    height: 25px;
    font-weight: 700;
    color: rgb(88, 136, 133);
     
 }