
#div1 {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
body {
    background-image:linear-gradient(90deg,rgb(71, 12, 71),rgb(49, 121, 121),rgb(71, 12, 71));
    overflow: hidden;
}