
#div1 {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
body {
    background-image:linear-gradient(90deg,rgb(52, 97, 125),rgb(118, 158, 177),rgb(52, 97, 125));
    overflow: hidden;
}