
#div1 {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
body {
    background-image:linear-gradient(90deg,rgb(12, 34, 44),rgb(6, 47, 72));
    overflow: hidden;
}